{
  "secrets": {
    "ibmi_dev_key": {
      "type": "file",
      "description": "SSH key for authenticating as IBM i agentic coding user",
      "available_for": [
        "tasks"
      ],
      "expose_as": "file",
      "target": "/home/coder/.ssh/ibmi_key",
      "source": "ibmi_dev_key"
    },
    "ibmi_dev_user": {
      "type": "value",
      "description": "IBM i agentic coding user profile",
      "available_for": [
        "tasks"
      ],
      "expose_as": "env_var",
      "target": "IBMI_USER",
      "value": "my_user_name"
    },
    "ibmi_dev_password": {
      "type": "value",
      "description": "IBM i agentic coding user password",
      "available_for": [
        "tasks"
      ],
      "expose_as": "env_var",
      "target": "IBMI_PASSWORD",
      "value": "my_password"
    },
    "ibmi_dev_host": {
      "type": "value",
      "description": "IBM i host for agentic coding",
      "available_for": [
        "tasks"
      ],
      "expose_as": "env_var",
      "target": "IBMI_HOST",
      "value": "myibmi.mycompany.com"
    },
    "ibmi_dev_pui_server": {
      "type": "value",
      "description": "Profound UI / Genie Server for Agent Exploratory Sessions",
      "available_for": [
        "tasks"
      ],
      "expose_as": "env_var",
      "target": "IBMI_PUI_SERVER",
      "value": "https://myibmi.mycompany.com:8103"
    }
  }
}